force-app/main/default/flows/Create_Inventory_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Reservation</name>
        <label>Create Reservation</label>
        <locationX>1288</locationX>
        <locationY>377</locationY>
        <actionName>ociCreateReservation</actionName>
        <actionType>ociCreateReservation</actionType>
        <connector>
            <targetReference>Error_Responses_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Exception_Message_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociCreateReservationInput</name>
            <value>
                <elementReference>CreateReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ociCreateReservation</nameSegment>
        <outputParameters>
            <assignToReference>CreateReservationOutputRepresentation</assignToReference>
            <name>ociCreateReservationOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Reservation_Input</name>
        <label>Create Reservation Input</label>
        <locationX>899</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>SingleCreateReservationInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCreateReservationInputRepresentation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.ToLocation__r.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCreateReservationInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCreateReservationInputRepresentation.locationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.ToLocationGroup__r.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reservation_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Reservation_Input_List</name>
        <label>Create Reservation Input List</label>
        <locationX>1024</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>CreateReservationInputRepresentation.createRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCreateReservationInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateReservationInputRepresentation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateReservationInputRepresentation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateReservationInputRepresentation.allowPartialReservations</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateReservationInputRepresentation.expirationSeconds</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exception_Message</name>
        <label>Exception Message</label>
        <locationX>1469</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Error_Message_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Responses_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exception_Message_2</name>
        <label>Exception Message</label>
        <locationX>1778</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SKU_Error_Message_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Detail_Responses_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exception_Message_Fault</name>
        <label>Exception Message</label>
        <locationX>1288</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Limit_Reached</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MAX_OCI_CONN_FAIL_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Errors</name>
        <label>Any Errors?</label>
        <locationX>1956</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>Process_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Any_Errors_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExceptionMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExceptionMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success_Status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Detail</name>
        <label>Error Detail</label>
        <locationX>1622</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>Detail_Responses_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Error_Detail_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Detail_Responses_Loop.errorCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Detail_Responses_Loop.errorCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exception_Message_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached</name>
        <label>Failure Limit Reached?</label>
        <locationX>1280</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Interaction_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConnectionFailAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_OCI_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception_Max_Failures_Reached</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Type</name>
        <label>Item Type?</label>
        <locationX>620</locationX>
        <locationY>856</locationY>
        <defaultConnectorLabel>Delivery Charge</defaultConnectorLabel>
        <rules>
            <name>Item_Is_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Item.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reservation_Input</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <formulas>
        <name>Increment_Connection_Failed_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ConnectionFailAttempts__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Offset_NOW_By_One_Hour</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (1/24)</expression>
    </formulas>
    <interviewLabel>Create Inventory Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Inventory Reservation</label>
    <loops>
        <name>Detail_Responses_Loop</name>
        <label>Detail Responses</label>
        <locationX>1704</locationX>
        <locationY>377</locationY>
        <collectionReference>CreateReservationOutputRepresentation.details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Error_Detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Errors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Error_Responses_Loop</name>
        <label>Error Responses</label>
        <locationX>1469</locationX>
        <locationY>377</locationY>
        <collectionReference>CreateReservationOutputRepresentation.errors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exception_Message</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Detail_Responses_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Order_Items_Loop</name>
        <label>Interaction Order Items</label>
        <locationX>802</locationX>
        <locationY>380</locationY>
        <collectionReference>Interaction_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Reservation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>1965</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>Fail_Interaction_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Reship FO - Create Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.OCICreateReservationError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Max_Failures_Reached</name>
        <label>Process Exception</label>
        <locationX>1378</locationX>
        <locationY>805</locationY>
        <connector>
            <targetReference>Abandon_Interaction_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Reship FO - Create Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.OCIConnectionFailedAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Interaction_Order_Items</name>
        <label>Interaction Order Items</label>
        <locationX>553</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OCIInteractionOrderSummary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OCIInteractionOrderItemSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item</name>
        <label>Order Item</label>
        <locationX>628</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.OrderItemSummary__r.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Interaction_Order</name>
        <label>Abandon Interaction Order</label>
        <locationX>1377</locationX>
        <locationY>930</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fail_Interaction_Order</name>
        <label>Fail Interaction Order</label>
        <locationX>1965</locationX>
        <locationY>690</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_FAIL</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Interaction_Order</name>
        <label>Reschedule Interaction Order</label>
        <locationX>1194</locationX>
        <locationY>806</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConnectionFailAttempts__c</field>
            <value>
                <elementReference>Increment_Connection_Failed_Attempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>Offset_NOW_By_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Success_Status</name>
        <label>Set Success Status</label>
        <locationX>2176</locationX>
        <locationY>380</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <start>
        <locationX>29</locationX>
        <locationY>272</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CREATE_RESERVATION</stringValue>
            </value>
        </filters>
        <object>OCIInteractionOrderSummary__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>Interaction_Order_Items</targetReference>
            </connector>
            <label>Scheduled</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Schedule__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Error_Message_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[Error: {!Error_Responses_Loop.message}]</text>
    </textTemplates>
    <textTemplates>
        <name>SKU_Error_Message_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[SKU: {!Detail_Responses_Loop.stockKeepingUnit} - {!Detail_Responses_Loop.errorCode}]</text>
    </textTemplates>
    <variables>
        <name>CreateReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateReservationOutputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExceptionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleCreateReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
