force-app/main/default/flows/Lead_Scoring_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Email_Score_Add_10</name>
        <label>Email Score Add 10</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TotalScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MobilePhone_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Mobile_Phone_Score</name>
        <label>Update Mobile Phone Score</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>TotalScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Total_Score</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Score_Check</name>
        <label>Email Score Check</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>MobilePhone_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Score_Add_10</targetReference>
            </connector>
            <label>Email Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>MobilePhone_Check</name>
        <label>MobilePhone Check</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Update_Total_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MobilePhone_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mobile_Phone_Score</targetReference>
            </connector>
            <label>MobilePhone Score</label>
        </rules>
    </decisions>
    <description>Lead Scoring Flow</description>
    <environments>Default</environments>
    <interviewLabel>Lead Scoring Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Scoring Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Total Score</description>
        <name>Update_Total_Score</name>
        <label>Update Total Score</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>Lead_Score__c</field>
            <value>
                <elementReference>TotalScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Score_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>TotalScore</description>
        <name>TotalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
