force-app/main/default/flows/Prep_Fulfillment_Order_for_Transfer_Back.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>From_Location</name>
        <label>From Location</label>
        <locationX>999</locationX>
        <locationY>1044</locationY>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.FromLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.FulfilledFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfillment_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>From_Location_Group</name>
        <label>From Location Group</label>
        <locationX>999</locationX>
        <locationY>1205</locationY>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.FromLocationGroup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfillment_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Interaction_Fulfillment_Item</name>
        <label>Initialize Interaction Fulfillment Item</label>
        <locationX>418</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.FromLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.FromLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.FulfillmentOrderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.OCIInteractionFulfillOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.ToLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.ToLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Fulfillment_Item</name>
        <label>Interaction Fulfillment Item</label>
        <locationX>1146</locationX>
        <locationY>1126</locationY>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Order_Items_Loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransferType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.FulfillmentOrderItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Order_Items_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reservation_Location_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Fulfillment_Item_Count</name>
        <label>Interaction Fulfillment Item Count</label>
        <locationX>1521</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItemCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>InteractionFulfillmentItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Interaction_Fulfillment_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Fulfillment_Item_List</name>
        <label>Interaction Fulfillment Item List</label>
        <locationX>1732</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InteractionFulfillmentItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Fulfillment_Order_ID</name>
        <label>Interaction Fulfillment Order ID</label>
        <locationX>2244</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>Interaction_Fulfillment_Items.OCIInteractionFulfillOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InteractionFulfillmentOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfillment_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Release_Reservation</name>
        <label>Release Reservation</label>
        <locationX>507</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>TransferType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_RELEASE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_Location</name>
        <label>To Location</label>
        <locationX>1549</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.ToLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item_Summary.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfillment_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_Location_Group</name>
        <label>To Location Group</label>
        <locationX>1546</locationX>
        <locationY>1189</locationY>
        <assignmentItems>
            <assignToReference>InteractionFulfillmentItem.ToLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item_Summary.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfillment_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Back_Reservation</name>
        <label>Transfer Back Reservation</label>
        <locationX>704</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>TransferType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_CANCEL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Interaction_Fulfillment_Items</name>
        <label>Any Interaction Fulfillment Items?</label>
        <locationX>1654</locationX>
        <locationY>649</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Interaction_Fulfillment_Items_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteractionFulfillmentItemCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Fulfillment_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Location_Type</name>
        <label>Fulfillment Location Type</label>
        <locationX>771</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>From_Location_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Group</defaultConnectorLabel>
        <rules>
            <name>Fulfillment_Location_Type_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order.FulfilledFromLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>131</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>From_Location</targetReference>
            </connector>
            <label>Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Order_Canceled</name>
        <label>Fulfillment Order Canceled?</label>
        <locationX>169</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Fulfill_From_Location</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reservation_Location_Set</name>
        <label>Is Reservation Location Set?</label>
        <locationX>410</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Process_Exception</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Reservation_Location_Set_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Item_Summary.ReservedAtLocationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order_Item_Summary.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reservation_and_Fulfillment_Locations_Match</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reservation_and_Fulfillment_Locations_Match</name>
        <label>Reservation and Fulfillment Locations</label>
        <locationX>602</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Location_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Reservation_and_Fulfillment_Locations_Match_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Item_Summary.ReservedAtLocationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Fulfillment_Order.FulfilledFromLocationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Order_Items_Loop</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reservation_Location_Type</name>
        <label>Reservation Location Type</label>
        <locationX>1327</locationX>
        <locationY>1128</locationY>
        <defaultConnector>
            <targetReference>To_Location_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Group</defaultConnectorLabel>
        <rules>
            <name>Reservation_Location_Type_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Item_Summary.ReservedAtLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>131</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Location</targetReference>
            </connector>
            <label>Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reship</name>
        <label>Reship?</label>
        <locationX>599</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Transfer_Back_Reservation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Reship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order.IsReship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Release_Reservation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Fulfill_From_Location</name>
        <label>Valid Fulfill From Location?</label>
        <locationX>313</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Fulfill_From_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order.FulfilledFromLocationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Prep Fulfillment Order for Transfer Back {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prep Fulfillment Order for Transfer Back</label>
    <loops>
        <name>Fulfillment_Order_Items_Loop</name>
        <label>Fulfillment Order Items</label>
        <locationX>602</locationX>
        <locationY>656</locationY>
        <collectionReference>Fulfillment_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_Interaction_Fulfillment_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Fulfillment_Item_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Fulfillment_Items</name>
        <label>Interaction Fulfillment Items</label>
        <locationX>2024</locationX>
        <locationY>648</locationY>
        <collectionReference>InteractionFulfillmentItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interaction_Fulfillment_Order_ID</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Interaction_Fulfillment_Order</name>
        <label>Interaction Fulfillment Order</label>
        <locationX>1831</locationX>
        <locationY>648</locationY>
        <assignRecordIdToReference>InteractionFulfillmentOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Interaction_Fulfillment_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>ConnectionFailedAttempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrder__c</field>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TransferType</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Fulfillment_Order_Item</name>
        <label>Interaction Fulfillment Order Item</label>
        <locationX>2132</locationX>
        <locationY>847</locationY>
        <connector>
            <targetReference>Interaction_Fulfillment_Items</targetReference>
        </connector>
        <inputReference>Interaction_Fulfillment_Items</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>418</locationX>
        <locationY>1361</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.FlowErrors_reservedAtLocationIdIsNotSetErrorDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.FlowErrors_reservedAtLocationIdIsNotSetErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order_Items</name>
        <label>Fulfillment Order Items</label>
        <locationX>609</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypeCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>OrderItemSummaryId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Get Fulfillment Order</label>
        <locationX>462</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fulfillment_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item_Summary</name>
        <label>Order Item Summary</label>
        <locationX>418</locationX>
        <locationY>1009</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Reservation_Location_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fulfillment_Order_Items_Loop.OrderItemSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ReservedAtLocationId</queriedFields>
        <sortField>ReservedAtLocationId</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>75</locationY>
        <connector>
            <targetReference>Fulfillment_Order_Canceled</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>FOStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>InteractionFulfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionFulfillOrderItem__c</objectType>
    </variables>
    <variables>
        <name>InteractionFulfillmentItemCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InteractionFulfillmentItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionFulfillOrderItem__c</objectType>
    </variables>
    <variables>
        <name>InteractionFulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
