force-app/main/default/flows/Release_Reship_Inventory_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Release_Reservation</name>
        <label>Release Reservation</label>
        <locationX>745</locationX>
        <locationY>408</locationY>
        <actionName>ociReleaseReservation</actionName>
        <actionType>ociReleaseReservation</actionType>
        <connector>
            <targetReference>Error_Responses</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Exception_Message_IA</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociReleaseReservationInput</name>
            <value>
                <elementReference>ReleaseReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ociReleaseReservation</nameSegment>
        <outputParameters>
            <assignToReference>ReleaseReservationOutputRepresentation</assignToReference>
            <name>ociReleaseReservationOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Exception_Message</name>
        <label>Exception Message</label>
        <locationX>917</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Error_Message_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exception_Message_IA</name>
        <label>Exception Message</label>
        <locationX>747</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Limit_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Release_Reservation_Input</name>
        <label>Release Reservation Input</label>
        <locationX>268</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>SingleReleaseReservationInputRepresentation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleReleaseReservationInputRepresentation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.OCIInteractionFulfillOrder__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleReleaseReservationInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.FulfillmentOrderItem__r.OrderItemSummary.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleReleaseReservationInputRepresentation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.FromLocation__r.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleReleaseReservationInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Fulfillment_Order_Items_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Release_Reservation_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Release_Reservation_Input_List</name>
        <label>Release Reservation Input List</label>
        <locationX>449</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>ReleaseReservationInputRepresentation.releaseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleReleaseReservationInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Fulfillment_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MAX_OCI_CONN_FAIL_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Errors</name>
        <label>Any Errors?</label>
        <locationX>1121</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>Process_Exception_ERR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Any_Errors_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExceptionMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExceptionMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Succeed_Interaction</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached</name>
        <label>Failure Limit Reached?</label>
        <locationX>740</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConnectionFailedAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_OCI_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Increment_Connection_Failed_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ConnectionFailedAttempts__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Offset_NOW_by_One_Hour</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (1/24)</expression>
    </formulas>
    <interviewLabel>Release Reship Inventory Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Release Reship Inventory Reservation</label>
    <loops>
        <name>Error_Responses</name>
        <label>Error Responses</label>
        <locationX>919</locationX>
        <locationY>408</locationY>
        <collectionReference>ReleaseReservationOutputRepresentation.errors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exception_Message</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Errors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Fulfillment_Order_Items_Loop</name>
        <label>Interaction Fulfillment Order Items</label>
        <locationX>368</locationX>
        <locationY>409</locationY>
        <collectionReference>Interaction_Fulfillment_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Release_Reservation_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Release_Reservation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Process_Exception</name>
        <label>Process Exception</label>
        <locationX>838</locationX>
        <locationY>852</locationY>
        <connector>
            <targetReference>Abandon_Interaction_Fulfillment_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Cancel FO - Release Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.OCIConnectionFailedAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_ERR</name>
        <label>Process Exception</label>
        <locationX>1129</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Fail_Interaction</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Cancel FO - Release Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.OCIReleaseReservationError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.FulfillmentOrder__r.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Interaction_Fulfillment_Order_Items</name>
        <label>Interaction Fulfillment Order Items</label>
        <locationX>175</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Fulfillment_Order_Items_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OCIInteractionFulfillOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OCIInteractionFulfillOrderItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Interaction_Fulfillment_Order</name>
        <label>Abandon Interaction Fulfillment Order</label>
        <locationX>838</locationX>
        <locationY>1003</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fail_Interaction</name>
        <label>Fail Interaction</label>
        <locationX>1129</locationX>
        <locationY>721</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_FAIL</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Transfer</name>
        <label>Reschedule Transfer</label>
        <locationX>652</locationX>
        <locationY>853</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConnectionFailedAttempts__c</field>
            <value>
                <elementReference>Increment_Connection_Failed_Attempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>Offset_NOW_by_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Succeed_Interaction</name>
        <label>Succeed Interaction</label>
        <locationX>1295</locationX>
        <locationY>403</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionFulfillOrder__c</object>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRANSFER_RELEASE</stringValue>
            </value>
        </filters>
        <object>OCIInteractionFulfillOrder__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>Interaction_Fulfillment_Order_Items</targetReference>
            </connector>
            <label>Scheduled</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Schedule__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Error_Message_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[SKU: {!Error_Responses.details.stockKeepingUnit} - {!Error_Responses.message}]</text>
    </textTemplates>
    <variables>
        <name>ExceptionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReleaseReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReleaseReservationOutputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleReleaseReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
