force-app/main/default/flows/Routing_Step_3_Execute_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Fulfillment_Orders</name>
        <label>Create Fulfillment Orders</label>
        <locationX>3667</locationX>
        <locationY>391</locationY>
        <actionName>createFulfillmentOrders</actionName>
        <actionType>createFulfillmentOrders</actionType>
        <connector>
            <targetReference>Multiple_Fulfillment_Orders_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Process_Exception_FO</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>multipleFulfillmentOrderInput</name>
            <value>
                <elementReference>MultipleFulfillmentOrderInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createFulfillmentOrders</nameSegment>
        <outputParameters>
            <assignToReference>MultipleFulfillmentOrderOutputRepresentation</assignToReference>
            <name>multipleFulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_OCI_Interaction_Order_Item_Summaries_with_inventory</name>
        <label>Get OCI Interaction Order Item Summaries with inventory</label>
        <locationX>739</locationX>
        <locationY>398</locationY>
        <actionName>OCIInteractionOISBundleAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OCIInteractionOrderItemSummaries</name>
            <value>
                <elementReference>Interaction_Order_Items</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OCIInteractionOISBundleAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OCI_Interaction_Items_With_Inventory</assignToReference>
            <name>OCIInteractionItemSummariesWithInventory</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Transfer_Reservation</name>
        <label>Transfer Reservation</label>
        <locationX>1490</locationX>
        <locationY>402</locationY>
        <actionName>ociTransferReservation</actionName>
        <actionType>ociTransferReservation</actionType>
        <connector>
            <targetReference>Error_Responses_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Limit_Reached_TR</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociTransferReservationInputPriority</name>
            <value>
                <elementReference>$Record.OrderSummary__r.InventoryTransferAttempts__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ociTransferReservationInput</name>
            <value>
                <elementReference>TransferReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ociTransferReservation</nameSegment>
        <outputParameters>
            <assignToReference>TransferReservationOutputRepresenation</assignToReference>
            <name>ociTransferReservationOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>All_or_Nothing_Flag</name>
        <label>All or Nothing Flag</label>
        <locationX>1337</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>TransferReservationInputRepresentation.allOrNothingTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Flag</name>
        <label>Error Flag</label>
        <locationX>1682</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>HasErrorsFromOutputRepresentation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Responses_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Group_Input</name>
        <label>Fulfillment Group Input</label>
        <locationX>3147</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroupInputRepresentation.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroupInputRepresentation.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroupInputRepresentation.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Location_Set</name>
        <label>Fulfillment Location</label>
        <locationX>2652</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>FulfillFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop2.ToLocation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Items_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Order_ID</name>
        <label>Fulfillment Order ID</label>
        <locationX>3834</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Multiple_Fulfillment_Orders_Response.fulfillmentOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Fulfillment_Orders_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Order_Input</name>
        <label>Fulfillment Order Input</label>
        <locationX>3315</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>CreateFOInputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentGroupInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateFOInputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderDeliveryGroupSummary__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateFOInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummary__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Multiple_FO_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Order_Item_Input_List</name>
        <label>Initialize Order Item Input List</label>
        <locationX>2269</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Items_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Mismatch_Flag</name>
        <label>Location Mismatch Flag</label>
        <locationX>2756</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>MismatchedLocationsFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Items_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Item_Input</name>
        <label>Order Item Input</label>
        <locationX>2319</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop2.OrderItemSummary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop2.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Item_Input_List</name>
        <label>Order Item Input List</label>
        <locationX>2319</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Multiple_FO_Input_Representation</name>
        <label>Populate Multiple FO Input Representation</label>
        <locationX>3504</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>MultipleFulfillmentOrderInputRepresentation.fulfillmentOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateFOInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Input</name>
        <label>Transfer Input</label>
        <locationX>1230</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresenation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresenation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.OCIInteractionOrderSummary__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresenation.fromLocationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Location_Group.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresenation.toLocationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_Location.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresenation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransferReservationInputRepresenation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transfer_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transfer_Input_List</name>
        <label>Transfer Input List</label>
        <locationX>1201</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>TransferReservationInputRepresentation.transferRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTransferReservationInputRepresenation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MAX_OCI_CONN_FAIL_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Errors</name>
        <label>Any Errors?</label>
        <locationX>1900</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Fail_Interaction_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Any_Errors_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasErrorsFromOutputRepresentation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Fulfillment_Order</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Charge</name>
        <label>Delivery Charge?</label>
        <locationX>2436</locationX>
        <locationY>776</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Delivery_Charge_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interaction_Order_Items_Loop2.OrderItemSummary__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interaction_Order_Items_Loop2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Fulfillment_Order</name>
        <label>Existing Fulfillment Order?</label>
        <locationX>2081</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Succeed_Interaction_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Existing_Fulfillment_Order_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Order_Item_Input_List</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached_TR</name>
        <label>Failure Limit Reached?</label>
        <locationX>1482</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_TR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_TR_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConnectionFailAttempts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MAX_OCI_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception_TR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Location</name>
        <label>Fulfillment Location?</label>
        <locationX>2578</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Interaction_Order_Items_Loop2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Matching</defaultConnectorLabel>
        <rules>
            <name>Fulfillment_Location_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillFromLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Location_Set</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
        <rules>
            <name>Fulfillment_Location_Mismatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillFromLocationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Interaction_Order_Items_Loop2.ToLocation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Mismatch_Flag</targetReference>
            </connector>
            <label>Mismatched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Type</name>
        <label>Item Type?</label>
        <locationX>969</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Interaction_Order_Items_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery Charge</defaultConnectorLabel>
        <rules>
            <name>Type_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Item.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Target_Location</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mismatched_Locations</name>
        <label>Mismatched Locations?</label>
        <locationX>2943</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Group_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Mismatched_Locations_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MismatchedLocationsFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception_Mismatch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>IncrementOCIConnectionFailAttempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ConnectionFailAttempts__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TimeOffset</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 0.1</expression>
    </formulas>
    <interviewLabel>Routing Step 3: Execute Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Routing Step 3: Execute Routing</label>
    <loops>
        <description>Since the response errors collection returns an empty collection and flow can check the size, we loop on the error response if we fund a value it means that we have an error and set the error variable to true to be check</description>
        <name>Error_Responses_Loop</name>
        <label>Error Responses</label>
        <locationX>1681</locationX>
        <locationY>402</locationY>
        <collectionReference>TransferReservationOutputRepresenation.errors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Error_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Errors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Order_Items_Loop</name>
        <label>Interaction Order Items</label>
        <locationX>1002</locationX>
        <locationY>398</locationY>
        <collectionReference>OCI_Interaction_Items_With_Inventory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_or_Nothing_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Order_Items_Loop2</name>
        <label>Interaction Order Items</label>
        <locationX>2422</locationX>
        <locationY>404</locationY>
        <collectionReference>Interaction_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Item_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mismatched_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Multiple_Fulfillment_Orders_Response</name>
        <label>Multiple Fulfillment Orders Response</label>
        <locationX>3834</locationX>
        <locationY>391</locationY>
        <collectionReference>MultipleFulfillmentOrderOutputRepresentation.fulfillmentOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fulfillment_Order_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfillment_Order_Source_Routing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Order_Summary_Routing_Schedule</name>
        <label>Order Summary Routing Schedule</label>
        <locationX>1910</locationX>
        <locationY>743</locationY>
        <inputAssignments>
            <field>OrderDeliveryGroupSummaryId__c</field>
            <value>
                <elementReference>$Record.OrderDeliveryGroupSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>SCHEDULED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>TimeOffset</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_FO</name>
        <label>Process Exception</label>
        <locationX>3666</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>Reschedule_Interaction_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Transfer Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.OCIFOsCreationError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_Mismatch</name>
        <label>Process Exception</label>
        <locationX>2951</locationX>
        <locationY>607</locationY>
        <connector>
            <targetReference>Abandon_Interaction_Order_Mismatch</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Transfer Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>$Label.Invalid_Interaction_Order_Summary_Configuration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.Unable_To_Create_Fulfillment_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_TR</name>
        <label>Process Exception</label>
        <locationX>1579</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>Abandon_Interaction_Order_TR</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Transfer Reservation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.OCIConnectionFailedAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Label.OCIUnableGetResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Interaction_Order_Items</name>
        <label>Interaction Order Items</label>
        <locationX>510</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OCI_Interaction_Order_Item_Summaries_with_inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OCIInteractionOrderSummary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OCIInteractionOrderItemSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item</name>
        <label>Order Item</label>
        <locationX>831</locationX>
        <locationY>626</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.OrderItemSummary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IncompleteTransferQuantity__c</queriedFields>
        <queriedFields>StockKeepingUnit</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Source_Location_Group</name>
        <label>Source Location Group</label>
        <locationX>1102</locationX>
        <locationY>846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.FromLocationGroup__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LocationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Target_Location</name>
        <label>Target Location</label>
        <locationX>976</locationX>
        <locationY>847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_Location_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interaction_Order_Items_Loop.ToLocation__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Interaction_Order_Mismatch</name>
        <label>Abandon Interaction Order</label>
        <locationX>2952</locationX>
        <locationY>741</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Abandon_Interaction_Order_TR</name>
        <label>Abandon Interaction Order</label>
        <locationX>1579</locationX>
        <locationY>927</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fail_Interaction_Order</name>
        <label>Fail Interaction Order</label>
        <locationX>1910</locationX>
        <locationY>588</locationY>
        <connector>
            <targetReference>Order_Summary_Routing_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_FAIL</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fulfillment_Order_Source_Routing</name>
        <label>Fulfillment Order Source: Routing</label>
        <locationX>4050</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Succeed_Interaction_Order_FO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>ROUTING</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Interaction_Order</name>
        <label>Reschedule Interaction Order</label>
        <locationX>3666</locationX>
        <locationY>737</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>TimeOffset</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_TR</name>
        <label>Reschedule Routing</label>
        <locationX>1404</locationX>
        <locationY>796</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConnectionFailAttempts__c</field>
            <value>
                <elementReference>IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>TimeOffset</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Succeed_Interaction_Order</name>
        <label>Succeed Interaction Order</label>
        <locationX>2090</locationX>
        <locationY>620</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Succeed_Interaction_Order_FO</name>
        <label>Succeed Interaction Order</label>
        <locationX>4235</locationX>
        <locationY>392</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FulfillmentOrder__c</field>
            <value>
                <elementReference>FulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COMPLETED_SUCCEED</stringValue>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
    </recordUpdates>
    <start>
        <locationX>381</locationX>
        <locationY>56</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TRANSFER_ROUTING</stringValue>
            </value>
        </filters>
        <object>OCIInteractionOrderSummary__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Routing_Time</name>
            <connector>
                <targetReference>Interaction_Order_Items</targetReference>
            </connector>
            <label>Scheduled Routing Time</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Schedule__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreateFOInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillFromLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasErrorsFromOutputRepresentation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MismatchedLocationsFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MultipleFulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__MultipleFulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultipleFulfillmentOrderOutputRepresentation</name>
        <apexClass>ConnectApi__MultipleFulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCI_Interaction_Items_With_Inventory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__c</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentationCollection</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleTransferReservationInputRepresenation</name>
        <apexClass>ConnectApi__OCITransferReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCITransferReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransferReservationOutputRepresenation</name>
        <apexClass>ConnectApi__OCITransferReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
