force-app/main/default/flows/Routing_Step_2_Determine_Route_by_Splits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_Routes_with_Fewest_Splits_Using_OCI</name>
        <label>Find Routes with Fewest Splits Using OCI</label>
        <locationX>2701</locationX>
        <locationY>456</locationY>
        <actionName>orderRoutingFindRoutesWithFewestSplitsUsingOCI</actionName>
        <actionType>orderRoutingFindRoutesWithFewestSplitsUsingOCI</actionType>
        <connector>
            <targetReference>Valid_Response_FR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Increment_Failed_Attempts</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderRoutingFindRoutesWithFewestSplitsUsingOCIInput</name>
            <value>
                <elementReference>FindRoutesWithFewestSplitsUsingOCIInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>orderRoutingFindRoutesWithFewestSplitsUsingOCI</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</assignToReference>
            <name>orderRoutingFindRoutesWithFewestSplitsUsingOCIOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Interaction_Orders_Data</name>
        <label>Generate Interaction Orders Data</label>
        <locationX>3879</locationX>
        <locationY>476</locationY>
        <actionName>RoutingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Initialize_Input_Lists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inventoryAvailabilityList</name>
            <value>
                <elementReference>InventoryAvailabilityOutputCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationGroupIds</name>
            <value>
                <elementReference>LocationGroupIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderDeliveryGroupSummaryId</name>
            <value>
                <elementReference>$Record.OrderDeliveryGroupSummaryId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaries</name>
            <value>
                <elementReference>Order_Items</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryRelationships</name>
            <value>
                <elementReference>Order_Item_Relationships</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rankAvailableLocationsToFulfill</name>
            <value>
                <elementReference>LocationsToFulfillCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RoutingAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>InteractionOrdersData</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Order_Items_with_inventory</name>
        <label>Get Order Items with inventory</label>
        <locationX>1436</locationX>
        <locationY>453</locationY>
        <actionName>OrderItemSummaryBundleAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Items_to_Route</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaries</name>
            <value>
                <elementReference>Order_Items</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryRelationships</name>
            <value>
                <elementReference>Order_Item_Relationships</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderItemSummaryBundleAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Items_to_Route</name>
        <label>Assign Items to Route</label>
        <locationX>1638</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>Items_to_Route</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Items_with_inventory.orderItemSummariesWithInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Items_to_Route_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Availability_Collection</name>
        <label>Availability Collection</label>
        <locationX>3804</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>InventoryAvailabilityOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCIGetInventoryAvailabilityOutputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Availability_List</name>
        <label>Availability List</label>
        <locationX>3674</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>OCIGetInventoryAvailabilityOutputRepresentation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Results.inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Availability_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Interaction_Order</name>
        <label>Current Interaction Order</label>
        <locationX>4858</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>CurrentOCIInteractionOrderSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Orders_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Orders_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Message_FR</name>
        <label>Fault Message</label>
        <locationX>2838</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_FR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Find_Routes_Error_Message</name>
        <label>Find Routes Error Message</label>
        <locationX>2958</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OCI_Find_Routes_With_Fewest_Splits_Output_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_FR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Interaction_Order</name>
        <label>Increment Interaction Order #</label>
        <locationX>4518</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Location_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Location_Counter</name>
        <label>Increment Location Counter</label>
        <locationX>4810</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>LocationCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Input_Lists</name>
        <label>Initialize Input Lists</label>
        <locationX>4039</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummaryCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCIInteractionOrderSummaryCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummaryCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCIInteractionOrderItemSummaryCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Location_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Location_Counter</name>
        <label>Initialize Location Counter</label>
        <locationX>4746</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>LocationCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Input</name>
        <label>Interaction Order Input</label>
        <locationX>4239</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.ConnectionFailAttempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.OrderDeliveryGroupSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InteractionOrdersData.orderDeliveryGroupSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.OrderSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InteractionOrdersData.orderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_ROUTING</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Input_List</name>
        <label>Interaction Order Input List</label>
        <locationX>4410</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCIInteractionOrderSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input</name>
        <label>Interaction Order Item Input</label>
        <locationX>5077</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.FromLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.reservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.OCIInteractionOrderSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOCIInteractionOrderSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.ToLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Locations_Loop2.fulfillFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.OrderItemSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_ROUTING</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Main_Order_Item_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.mainOrderItemSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Associated_Item_Inventory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.associatedItemInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input_List</name>
        <label>Interaction Order Item Input List</label>
        <locationX>5138</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCIInteractionOrderItemSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inventory_Output</name>
        <label>Inventory Output</label>
        <locationX>3472</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsWithInventoryOutputRepresentationCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation.results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_List_Delivery_Charge</name>
        <label>Item List</label>
        <locationX>1635</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Items_to_Route_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Items_to_Route_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_List_Product</name>
        <label>Item List</label>
        <locationX>1642</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Items_to_Route_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Group_in_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Group_List</name>
        <label>Location Group List</label>
        <locationX>2030</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>LocationGroupIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Items_to_Route_Loop.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Input</name>
        <label>Populate Input</label>
        <locationX>2542</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIInputRepresentation.findRoutesWithFewestSplitsUsingOCIInputs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Routes_with_Fewest_Splits_Using_OCI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_OCI_Group</name>
        <label>Populate OCI Group</label>
        <locationX>2265</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation.maximumNumberOfSplits</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation.orderedItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_OCI_Group_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_OCI_Group_Collection</name>
        <label>Populate OCI Group Collection</label>
        <locationX>2411</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_OCI_Item</name>
        <label>Populate OCI Item</label>
        <locationX>2152</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.locationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Group.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Route_Loop.QuantityAvailableToFulfill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Route_Loop.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_OCI_Item_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_OCI_Item_Collection</name>
        <label>Populate OCI Item Collection</label>
        <locationX>2016</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Items_to_Route_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_OCI_Item</name>
        <label>Reset OCI Item</label>
        <locationX>2152</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.locationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_OCI_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_Items</name>
        <label>Route Items</label>
        <locationX>4665</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>RouteItemList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Locations_Loop2.routingItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Orders_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_Location_List</name>
        <label>Route Location List</label>
        <locationX>4188</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>RouteLocationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InteractionOrdersData.routingGroupList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Target_Location</name>
        <label>Target Location</label>
        <locationX>3651</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>LocationsToFulfillCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_Locations.locations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentLocationsCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Target_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Target_Locations_Count</name>
        <label>Target Locations Count</label>
        <locationX>3051</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>TargetLocationsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Route_Responses.targetLocations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Results_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valid_Results_Count</name>
        <label>Valid Results Count</label>
        <locationX>3177</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>ValidOutputResultsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TargetLocationsCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Route_Responses</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MAX_NUMBER_OF_ROUTING_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>MAX_OUTBOUND_CONN_FAIL_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Items_to_Route</name>
        <label>Any Items to Route?</label>
        <locationX>1045</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Items_to_Route_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Relationships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Items_To_Route_After_BundleCheck</name>
        <label>Any Items To Route?</label>
        <locationX>2053</locationX>
        <locationY>457</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Any_Items_To_Route_After_BundleCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentationCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_OCI_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Results</name>
        <label>Any Results</label>
        <locationX>3296</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>Routing_Attempt_Limit_Reached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Results_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidOutputResultsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Output</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached_TR</name>
        <label>Failure Limit Reached?</label>
        <locationX>2694</locationX>
        <locationY>892</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_TR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_TR_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OutboundConnectionFailedAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_OUTBOUND_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fault_Message_FR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_TargetLocation</name>
        <label>First TargetLocation?</label>
        <locationX>3485</locationX>
        <locationY>892</locationY>
        <defaultConnector>
            <targetReference>Target_Locations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>First_TargetLocation_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillmentLocationsCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Target_Location</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interaction_Order_Location_Count</name>
        <label>Interaction Order # = Location Count?</label>
        <locationX>4660</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference>Interaction_Orders_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Interaction_Order_Location_Count_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OCIInteractionOrderCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Interaction_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Type</name>
        <label>Item Type?</label>
        <locationX>1835</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Items_to_Route_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Item_Type_Delivery_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Items_to_Route_Loop.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_List_Delivery_Charge</targetReference>
            </connector>
            <label>Delivery Charge</label>
        </rules>
        <rules>
            <name>Item_Type_Location_Group_Reservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Items_to_Route_Loop.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Items_to_Route_Loop.ReservedAtLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0gh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_List_Product</targetReference>
            </connector>
            <label>Location Group Reservation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Group_in_List</name>
        <label>Location Group in List?</label>
        <locationX>1846</locationX>
        <locationY>907</locationY>
        <defaultConnector>
            <targetReference>Location_Group_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Location_Group_in_List_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationGroupIdCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Items_to_Route_Loop.ReservedAtLocationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_Attempt_Limit_Reached</name>
        <label>Routing Attempt Limit Reached?</label>
        <locationX>3292</locationX>
        <locationY>702</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_FR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Routing_Attempt_Limit_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderSummaryRecord.RoutingAttempts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_NUMBER_OF_ROUTING_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Routes_Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Response_FR</name>
        <label>Valid Response?</label>
        <locationX>2853</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Find_Route_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Valid_Response_FR_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation.results</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Routes_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Increment_Order_Summary_Routing_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!OrderSummaryRecord.RoutingAttempts} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IncrementOCIConnectionFailAttempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OutboundConnectionFailedAttempts__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Offset_NOW_by_Failed_Attempts_plus_One_Hour</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (({!$Record.OutboundConnectionFailedAttempts__c}+1)*(1/24))</expression>
    </formulas>
    <formulas>
        <name>Offset_NOW_by_One_Day</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1</expression>
    </formulas>
    <interviewLabel>Routing Step 2: Determine Route by Splits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Routing Step 2: Determine Route by Splits</label>
    <loops>
        <name>Find_Route_Responses</name>
        <label>Find Route Responses</label>
        <locationX>3109</locationX>
        <locationY>459</locationY>
        <collectionReference>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Target_Locations_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Orders_Loop</name>
        <label>Interaction Orders</label>
        <locationX>4665</locationX>
        <locationY>852</locationY>
        <collectionReference>OCIInteractionOrderSummaryCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Interaction_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Route_Items_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Items_to_Route_Loop</name>
        <label>Items to Route</label>
        <locationX>1843</locationX>
        <locationY>454</locationY>
        <collectionReference>Items_to_Route</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Item_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Items_To_Route_After_BundleCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Results</name>
        <label>Results</label>
        <locationX>3645</locationX>
        <locationY>473</locationY>
        <collectionReference>FindRoutesWithFewestSplitsWithInventoryOutputRepresentationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Target_Locations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Interaction_Orders_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Route_Items_Loop</name>
        <label>Route Items</label>
        <locationX>4945</locationX>
        <locationY>842</locationY>
        <collectionReference>RouteItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interaction_Order_Item_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Route_Locations_Loop2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Route_Locations_Loop</name>
        <label>Route Locations</label>
        <locationX>4338</locationX>
        <locationY>476</locationY>
        <collectionReference>RouteLocationList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interaction_Order_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Route_Locations_Loop2</name>
        <label>Route Locations</label>
        <locationX>4927</locationX>
        <locationY>479</locationY>
        <collectionReference>RouteLocationList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Location_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Target_Locations</name>
        <label>Target Locations</label>
        <locationX>3493</locationX>
        <locationY>662</locationY>
        <collectionReference>Results.targetLocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_TargetLocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Availability_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Interaction_Order_Items</name>
        <label>Interaction Order Items</label>
        <locationX>5182</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Complete_Routing_Schedule</targetReference>
        </connector>
        <inputReference>OCIInteractionOrderItemSummaryCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Orders</name>
        <label>Interaction Orders</label>
        <locationX>4564</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Initialize_Location_Counter</targetReference>
        </connector>
        <inputReference>OCIInteractionOrderSummaryCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_FR</name>
        <label>Process Exception</label>
        <locationX>2963</locationX>
        <locationY>889</locationY>
        <connector>
            <targetReference>Abandon_Routing_Schedule_FR</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.OCI_Find_Routes_With_Fewest_Splits_Output_Error_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>Process_Exception_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Delivery_Group</name>
        <label>Delivery Group</label>
        <locationX>699</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderDeliveryGroupSummaryId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Location_Group</name>
        <label>Location Group</label>
        <locationX>2031</locationX>
        <locationY>777</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_OCI_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Items_to_Route_Loop.ReservedAtLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LocationGroup</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item_Relationships</name>
        <label>Order Item Relationships</label>
        <locationX>1244</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Items_with_inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MainOrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummaryRelationship</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Items</name>
        <label>Items to Route</label>
        <locationX>878</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Items_to_Route</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Delivery_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AvailableToFulfillIIncompleteTransferQty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StockKeepingUnit</queriedFields>
        <queriedFields>QuantityAvailableToFulfill</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>ReservedAtLocationId</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <queriedFields>IncompleteReleaseQuantity__c</queriedFields>
        <queriedFields>IncompleteTransferQuantity__c</queriedFields>
        <queriedFields>AvailableToFulfillIIncompleteTransferQty__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Summary</name>
        <label>Order Summary</label>
        <locationX>509</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderSummary</object>
        <outputReference>OrderSummaryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RoutingAttempts</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Routing_Schedule_FR</name>
        <label>Abandon Routing Schedule</label>
        <locationX>2963</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>Increment_Routing_Attempts_FR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Routing_Schedule</name>
        <label>Complete Routing Schedule</label>
        <locationX>5334</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Increment_Order_Routing_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>COMPLETED</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Failed_Attempts</name>
        <label>Increment Failed Attempts</label>
        <locationX>2702</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>Failure_Limit_Reached_TR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference>IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Order_Routing_Attempts</name>
        <label>Increment Order Routing Attempts</label>
        <locationX>5489</locationX>
        <locationY>478</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RoutingAttempts</field>
            <value>
                <elementReference>Increment_Order_Summary_Routing_Attempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Routing_Attempts_FR</name>
        <label>Increment Routing Attempts</label>
        <locationX>3300</locationX>
        <locationY>1045</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RoutingAttempts</field>
            <value>
                <elementReference>Increment_Order_Summary_Routing_Attempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_FR</name>
        <label>Reschedule Routing</label>
        <locationX>3300</locationX>
        <locationY>893</locationY>
        <connector>
            <targetReference>Increment_Routing_Attempts_FR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference>IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>Offset_NOW_by_One_Day</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_TR</name>
        <label>Reschedule Routing</label>
        <locationX>2535</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference>IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>Offset_NOW_by_Failed_Attempts_plus_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <start>
        <locationX>383</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ScheduleStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCHEDULED</stringValue>
            </value>
        </filters>
        <object>OrderSummaryRoutingSchedule</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>Order_Summary</targetReference>
            </connector>
            <label>Scheduled</label>
            <maxBatchSize>50</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ScheduledDatetime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AvailableLocationOutputRepresentationCollection</name>
        <apexClass>ConnectApi__AvailableLocationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOCIInteractionOrderSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentationCollection</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIInputRepresentation</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsUsingOCIInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentationCollection</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsWithInventoryOutputRepresentationCollection</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsWithInventoryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentLocationsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InteractionOrdersData</name>
        <apexClass>RoutingActionOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventoryAvailabilityOutputCollection</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Items_to_Route</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>LocationCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LocationGroupIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationsToFulfillCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCIGetInventoryAvailabilityOutputRepresentation</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCIInteractionOrderCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OCIInteractionOrderItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderItemSummaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderSummaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>Process_Exception_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RouteItemList</name>
        <apexClass>RoutingItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RouteLocationList</name>
        <apexClass>RoutingGroup</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetLocationsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ValidOutputResultsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
