force-app/main/default/flows/Routing_Step_2_Determine_Route_by_Splits_and_Distance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Input_for_Rank_Average_Distance_Combined</name>
        <label>Create Input for Rank Average Distance Combined</label>
        <locationX>3261</locationX>
        <locationY>537</locationY>
        <actionName>BuilderRankAverageDistanceCombinedAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Rank_Locations_by_Distance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>deliveryCountryCode</name>
            <value>
                <elementReference>Delivery_Group.DeliverToCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryPostalCode</name>
            <value>
                <elementReference>Delivery_Group.DeliverToPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>distanceUnit</name>
            <value>
                <stringValue>MI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>findRoutesWithFewestSplitsUsingOCIOutput</name>
            <value>
                <elementReference>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortResult</name>
            <value>
                <stringValue>ASC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>BuilderRankAverageDistanceCombinedAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>RankAverageDistanceInput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Find_Routes_with_Fewest_Splits_Using_OCI</name>
        <label>Find Routes with Fewest Splits Using OCI</label>
        <locationX>2168</locationX>
        <locationY>530</locationY>
        <actionName>orderRoutingFindRoutesWithFewestSplitsUsingOCI</actionName>
        <actionType>orderRoutingFindRoutesWithFewestSplitsUsingOCI</actionType>
        <connector>
            <targetReference>Valid_Response_FR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Increment_Failed_Attempts</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderRoutingFindRoutesWithFewestSplitsUsingOCIInput</name>
            <value>
                <elementReference>FindRoutesWithFewestSplitsUsingOCIInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>orderRoutingFindRoutesWithFewestSplitsUsingOCI</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</assignToReference>
            <name>orderRoutingFindRoutesWithFewestSplitsUsingOCIOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Interaction_Orders_Data</name>
        <label>Generate Interaction Orders Data</label>
        <locationX>4612</locationX>
        <locationY>543</locationY>
        <actionName>RoutingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Initialize_Input_Lists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inventoryAvailabilityList</name>
            <value>
                <elementReference>InventoryAvailabilityOutputCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationGroupIds</name>
            <value>
                <elementReference>LocationGroupIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderDeliveryGroupSummaryId</name>
            <value>
                <elementReference>Delivery_Group.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaries</name>
            <value>
                <elementReference>Order_Items</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryRelationships</name>
            <value>
                <elementReference>Order_Item_Relationships</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rankAvailableLocationsToFulfill</name>
            <value>
                <elementReference>LocationsToFulfillCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RoutingAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>InteractionOrdersData</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Order_Items_with_inventory</name>
        <label>Get Order Items with inventory</label>
        <locationX>977</locationX>
        <locationY>527</locationY>
        <actionName>OrderItemSummaryBundleAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Items_to_Route</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaries</name>
            <value>
                <elementReference>Order_Items</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderItemSummaryRelationships</name>
            <value>
                <elementReference>Order_Item_Relationships</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderItemSummaryBundleAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Rank_Locations_by_Distance</name>
        <label>Rank Locations by Distance</label>
        <locationX>3496</locationX>
        <locationY>537</locationY>
        <actionName>orderRoutingRankByAverageDistance</actionName>
        <actionType>orderRoutingRankByAverageDistance</actionType>
        <connector>
            <targetReference>Valid_Response_RAD</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Rank_Distance</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderRoutingRankByAverageDistanceInput</name>
            <value>
                <elementReference>RankAverageDistanceInput.rankAverageDistanceInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>orderRoutingRankByAverageDistance</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>RankAverageDistanceOutputRepresentation</assignToReference>
            <name>orderRoutingRankByAverageDistanceOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Items_to_Route</name>
        <label>Assign Items to Route</label>
        <locationX>1113</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>Items_to_Route</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Items_with_inventory.orderItemSummariesWithInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Items_to_Route_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Availability_Collection</name>
        <label>Availability Collection</label>
        <locationX>3082</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>InventoryAvailabilityOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCIGetInventoryAvailabilityOutputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Availability_List</name>
        <label>Availability List</label>
        <locationX>2952</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>OCIGetInventoryAvailabilityOutputRepresentation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Output.inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Availability_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Interaction_Order</name>
        <label>Current Interaction Order</label>
        <locationX>5912</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>CurrentOCIInteractionOrderSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interaction_Orders_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Orders_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Message_FR</name>
        <label>Fault Message</label>
        <locationX>2329</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_FR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Message_Rank_Distance</name>
        <label>Fault Message</label>
        <locationX>3495</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Limit_Reached_RAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Find_Routes_Error_Message</name>
        <label>Find Routes Error Message</label>
        <locationX>2348</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OCI_Find_Routes_With_Fewest_Splits_Output_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_FR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Location_List</name>
        <label>Fulfillment Location List</label>
        <locationX>4472</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>LocationsToFulfillCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Locations_in_Route.locationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Locations_in_Route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Interaction_Order</name>
        <label>Increment Interaction Order #</label>
        <locationX>5634</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Location_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Location_Counter</name>
        <label>Increment Location Counter</label>
        <locationX>5508</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>LocationCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Input_Lists</name>
        <label>Initialize Input Lists</label>
        <locationX>4793</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummaryCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCIInteractionOrderSummaryCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummaryCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OCIInteractionOrderItemSummaryCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Location_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Location_Counter</name>
        <label>Initialize Location Counter</label>
        <locationX>5503</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>LocationCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Input</name>
        <label>Interaction Order Input</label>
        <locationX>4995</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.ConnectionFailAttempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.OrderDeliveryGroupSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InteractionOrdersData.orderDeliveryGroupSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.OrderSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InteractionOrdersData.orderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummary.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_ROUTING</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Input_List</name>
        <label>Interaction Order Input List</label>
        <locationX>5206</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCIInteractionOrderSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input</name>
        <label>Interaction Order Item Input</label>
        <locationX>6045</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.FromLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.reservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.OCIInteractionOrderSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOCIInteractionOrderSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.ToLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Locations_Loop2.fulfillFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.OrderItemSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_ROUTING</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Main_Order_Item_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.mainOrderItemSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummary.Associated_Item_Inventory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Items_Loop.associatedItemInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input_List</name>
        <label>Interaction Order Item Input List</label>
        <locationX>6190</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderItemSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OCIInteractionOrderItemSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_List_Delivery_Charge</name>
        <label>Item List</label>
        <locationX>1088</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Items_to_Route_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Items_to_Route_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_List_Product</name>
        <label>Item List</label>
        <locationX>1089</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Items_to_Route_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Group_in_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Group_List</name>
        <label>Location Group List</label>
        <locationX>1515</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>LocationGroupIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Items_to_Route_Loop.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Input</name>
        <label>Populate Input</label>
        <locationX>1969</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIInputRepresentation.findRoutesWithFewestSplitsUsingOCIInputs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Routes_with_Fewest_Splits_Using_OCI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_OCI_Group</name>
        <label>Populate OCI Group</label>
        <locationX>1663</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation.maximumNumberOfSplits</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation.orderedItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_OCI_Group_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_OCI_Group_Collection</name>
        <label>Populate OCI Group Collection</label>
        <locationX>1826</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_OCI_Item</name>
        <label>Populate OCI Item</label>
        <locationX>1686</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.locationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Group.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Route_Loop.QuantityAvailableToFulfill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Items_to_Route_Loop.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_OCI_Item_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_OCI_Item_Collection</name>
        <label>Populate OCI Item Collection</label>
        <locationX>1532</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Items_to_Route_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rank_Distance_Error_Message</name>
        <label>Rank Distance Error Message</label>
        <locationX>3670</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>Process_Exception_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OCI_Rank_by_Average_Distance_Output_Error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Exception_RAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ranked_Route</name>
        <label>Ranked Route</label>
        <locationX>4161</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>CurrentDistanceCalculationOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ranked_Routes.distanceCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shortest_Route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_OCI_Item</name>
        <label>Reset OCI Item</label>
        <locationX>1686</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.locationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_OCI_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Result_Output</name>
        <label>Result Output</label>
        <locationX>2852</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>FindRoutesWithFewestSplitsWithInventoryOutputRepresentationCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation.results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_Items</name>
        <label>Route Items</label>
        <locationX>5628</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>RouteItemList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Route_Locations_Loop2.routingItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCIInteractionOrderCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Orders_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Route_Location_List</name>
        <label>Route Location List</label>
        <locationX>4951</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>RouteLocationList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InteractionOrdersData.routingGroupList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Locations_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Routes_Count_Dist</name>
        <label>Routes Count</label>
        <locationX>3825</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>RankDistanceOutputCollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RankAverageDistanceOutputRepresentation.results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Routes_Dist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Target_Locations_Count</name>
        <label>Target Locations Count</label>
        <locationX>2440</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>TargetLocationsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Find_Route_Responses.targetLocations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Results_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valid_Results_Count</name>
        <label>Valid Results Count</label>
        <locationX>2586</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>ValidOutputResultsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TargetLocationsCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Route_Responses</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MAX_NUMBER_OF_ROUTING_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>MAX_OUTBOUND_CONN_FAIL_ATTEMPTS</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Items_to_Route</name>
        <label>Any Items to Route?</label>
        <locationX>634</locationX>
        <locationY>527</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Items_to_Route_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item_Relationships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Items_To_Route_After_BundleCheck</name>
        <label>Any Items To Route?</label>
        <locationX>1509</locationX>
        <locationY>531</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Any_Items_To_Route_After_BundleCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentationCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_OCI_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Results</name>
        <label>Any Results</label>
        <locationX>2671</locationX>
        <locationY>538</locationY>
        <defaultConnector>
            <targetReference>Routing_Attempt_Limit_Reached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Results_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidOutputResultsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result_Output</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Routes_Dist</name>
        <label>Any Routes?</label>
        <locationX>4076</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>Routing_Attempt_Limit_Reached_TR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Any_Routes_Dist_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RankDistanceOutputCollectionSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ranked_Routes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached_RAD</name>
        <label>Failure Limit Reached?</label>
        <locationX>3487</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_RAD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_RAD_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OutboundConnectionFailedAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_OUTBOUND_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Exception_RAD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Failure_Limit_Reached_TR</name>
        <label>Failure Limit Reached?</label>
        <locationX>2162</locationX>
        <locationY>961</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_TR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Failure_Limit_Reached_TR_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OutboundConnectionFailedAttempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_OUTBOUND_CONN_FAIL_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fault_Message_FR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interaction_Order_Location_Count</name>
        <label>Interaction Order # = Location Count?</label>
        <locationX>5762</locationX>
        <locationY>997</locationY>
        <defaultConnector>
            <targetReference>Interaction_Orders_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Interaction_Order_Location_Count_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OCIInteractionOrderCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Interaction_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Type</name>
        <label>Item Type?</label>
        <locationX>1297</locationX>
        <locationY>859</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Item_Type_Delivery_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Items_to_Route_Loop.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_List_Delivery_Charge</targetReference>
            </connector>
            <label>Delivery Charge</label>
        </rules>
        <rules>
            <name>Item_Type_Location_Group_Reservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Items_to_Route_Loop.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Items_to_Route_Loop.ReservedAtLocationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0gh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_List_Product</targetReference>
            </connector>
            <label>Location Group Reservation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Group_in_List</name>
        <label>Location Group in List?</label>
        <locationX>1295</locationX>
        <locationY>1017</locationY>
        <defaultConnector>
            <targetReference>Location_Group_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Location_Group_in_List_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationGroupIdCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Items_to_Route_Loop.ReservedAtLocationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_Attempt_Limit_Reached</name>
        <label>Routing Attempt Limit Reached?</label>
        <locationX>2672</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing_FR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Routing_Attempt_Limit_Reached_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderSummaryRecord.RoutingAttempts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_NUMBER_OF_ROUTING_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Routes_Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_Attempt_Limit_Reached_TR</name>
        <label>Routing Attempt Limit Reached?</label>
        <locationX>3922</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>Reschedule_Routing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Routing_Attempt_Limit_Reached_TR_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderSummaryRecord.RoutingAttempts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MAX_NUMBER_OF_ROUTING_ATTEMPTS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rank_Distance_Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shortest_Route</name>
        <label>Shortest Route?</label>
        <locationX>4294</locationX>
        <locationY>788</locationY>
        <defaultConnector>
            <targetReference>Ranked_Routes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Shortest_Route_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDistanceCalculationOutput.rank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Locations_in_Route</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Response_FR</name>
        <label>Valid Response?</label>
        <locationX>2336</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Find_Route_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Valid_Response_FR_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation.results</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Routes_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Response_RAD</name>
        <label>Valid Response?</label>
        <locationX>3664</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Routes_Count_Dist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Valid_Response_RAD_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RankAverageDistanceOutputRepresentation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RankAverageDistanceOutputRepresentation.results</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rank_Distance_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DeferralCountFormula</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!$Record.DeferralCount__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Increment_Deferral_Count</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!$Record.DeferralCount__c},0)+ 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Increment_Order_Summary_Routing_Attempts</name>
        <dataType>Number</dataType>
        <expression>{!OrderSummaryRecord.RoutingAttempts} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IncrementOCIConnectionFailAttempts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OutboundConnectionFailedAttempts__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Offset_NOW_by_Failed_Attempts_plus_One_Hour</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (({!$Record.OutboundConnectionFailedAttempts__c}+1)*(1/24))</expression>
    </formulas>
    <formulas>
        <name>Offset_NOW_by_One_Day</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1</expression>
    </formulas>
    <interviewLabel>Routing Step 2: Determine Route by Splits and Distance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Routing Step 2: Determine Route by Splits and Distance</label>
    <loops>
        <name>Find_Route_Responses</name>
        <label>Find Route Responses</label>
        <locationX>2504</locationX>
        <locationY>533</locationY>
        <collectionReference>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Target_Locations_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Orders_Loop</name>
        <label>Interaction Orders</label>
        <locationX>5775</locationX>
        <locationY>792</locationY>
        <collectionReference>OCIInteractionOrderSummaryCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Interaction_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Route_Items_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Items_to_Route_Loop</name>
        <label>Items to Route</label>
        <locationX>1272</locationX>
        <locationY>527</locationY>
        <collectionReference>Items_to_Route</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Item_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Items_To_Route_After_BundleCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Locations_in_Route</name>
        <label>Locations in Route</label>
        <locationX>4469</locationX>
        <locationY>786</locationY>
        <collectionReference>CurrentDistanceCalculationOutput.locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fulfillment_Location_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Ranked_Routes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Output</name>
        <label>Output</label>
        <locationX>3007</locationX>
        <locationY>536</locationY>
        <collectionReference>FindRoutesWithFewestSplitsWithInventoryOutputRepresentationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Availability_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Input_for_Rank_Average_Distance_Combined</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Ranked_Routes</name>
        <label>Ranked Routes</label>
        <locationX>4305</locationX>
        <locationY>542</locationY>
        <collectionReference>RankAverageDistanceOutputRepresentation.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ranked_Route</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Interaction_Orders_Data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Route_Items_Loop</name>
        <label>Route Items</label>
        <locationX>6115</locationX>
        <locationY>773</locationY>
        <collectionReference>RouteItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interaction_Order_Item_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Route_Locations_Loop2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Route_Locations_Loop</name>
        <label>Route Locations</label>
        <locationX>5111</locationX>
        <locationY>543</locationY>
        <collectionReference>RouteLocationList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interaction_Order_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Route_Locations_Loop2</name>
        <label>Route Locations</label>
        <locationX>5662</locationX>
        <locationY>539</locationY>
        <collectionReference>RouteLocationList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Location_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Interaction_Order_Items</name>
        <label>Interaction Order Items</label>
        <locationX>6248</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>Complete_Routing_Schedule</targetReference>
        </connector>
        <inputReference>OCIInteractionOrderItemSummaryCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Orders</name>
        <label>Interaction Orders</label>
        <locationX>5362</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Initialize_Location_Counter</targetReference>
        </connector>
        <inputReference>OCIInteractionOrderSummaryCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_FR</name>
        <label>Process Exception</label>
        <locationX>2445</locationX>
        <locationY>961</locationY>
        <connector>
            <targetReference>Abandon_Routing_Schedule_FR</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.OCI_Find_Routes_With_Fewest_Splits_Output_Error_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>Process_Exception_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_Exception_RAD</name>
        <label>Process Exception</label>
        <locationX>3671</locationX>
        <locationY>925</locationY>
        <connector>
            <targetReference>Abandon_Routing_Schedule_RAD</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Routing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.OCI_Rank_by_Average_Distance_Output_Error_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>Process_Exception_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Delivery_Group</name>
        <label>Delivery Group</label>
        <locationX>365</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderDeliveryGroupSummaryId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Location_Group</name>
        <label>Location Group</label>
        <locationX>1516</locationX>
        <locationY>873</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_OCI_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Items_to_Route_Loop.ReservedAtLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LocationGroup</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item_Relationships</name>
        <label>Order Item Relationships</label>
        <locationX>830</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Items_with_inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MainOrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummaryRelationship</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Items</name>
        <label>Items to Route</label>
        <locationX>498</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Items_to_Route</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Delivery_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AvailableToFulfillIIncompleteTransferQty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StockKeepingUnit</queriedFields>
        <queriedFields>QuantityAvailableToFulfill</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>ReservedAtLocationId</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <queriedFields>IncompleteReleaseQuantity__c</queriedFields>
        <queriedFields>IncompleteTransferQuantity__c</queriedFields>
        <queriedFields>AvailableToFulfillIIncompleteTransferQty__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Summary</name>
        <label>Order Summary</label>
        <locationX>222</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderSummary</object>
        <outputReference>OrderSummaryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RoutingAttempts</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Routing_Schedule_FR</name>
        <label>Abandon Routing Schedule</label>
        <locationX>2446</locationX>
        <locationY>1173</locationY>
        <connector>
            <targetReference>Increment_Routing_Attempts_FR2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Abandon_Routing_Schedule_RAD</name>
        <label>Abandon Routing Schedule</label>
        <locationX>3671</locationX>
        <locationY>1173</locationY>
        <connector>
            <targetReference>Increment_Routing_Attempts_RAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>ABANDONED</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Complete_Routing_Schedule</name>
        <label>Complete Routing Schedule</label>
        <locationX>6414</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>Increment_Order_Routing_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduleStatus</field>
            <value>
                <stringValue>COMPLETED</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Failed_Attempts</name>
        <label>Increment Failed Attempts</label>
        <locationX>2170</locationX>
        <locationY>739</locationY>
        <connector>
            <targetReference>Failure_Limit_Reached_TR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference>IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Order_Routing_Attempts</name>
        <label>Increment Order Routing Attempts</label>
        <locationX>6581</locationX>
        <locationY>530</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RoutingAttempts</field>
            <value>
                <elementReference>Increment_Order_Summary_Routing_Attempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Routing_Attempts_FR2</name>
        <label>Increment Routing Attempts</label>
        <locationX>2678</locationX>
        <locationY>1173</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RoutingAttempts</field>
            <value>
                <elementReference>Increment_Order_Summary_Routing_Attempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Routing_Attempts_RAD</name>
        <label>Increment Routing Attempts</label>
        <locationX>3929</locationX>
        <locationY>1173</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RoutingAttempts</field>
            <value>
                <elementReference>Increment_Order_Summary_Routing_Attempts</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing</name>
        <label>Reschedule Routing</label>
        <locationX>3929</locationX>
        <locationY>1006</locationY>
        <connector>
            <targetReference>Increment_Routing_Attempts_RAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference>Increment_Order_Summary_Routing_Attempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>Offset_NOW_by_One_Day</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_FR</name>
        <label>Reschedule Routing</label>
        <locationX>2678</locationX>
        <locationY>955</locationY>
        <connector>
            <targetReference>Increment_Routing_Attempts_FR2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>Offset_NOW_by_One_Day</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_RAD</name>
        <label>Reschedule Routing</label>
        <locationX>3496</locationX>
        <locationY>1179</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference>IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>Offset_NOW_by_Failed_Attempts_plus_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_Routing_TR</name>
        <label>Reschedule Routing</label>
        <locationX>1998</locationX>
        <locationY>959</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OutboundConnectionFailedAttempts__c</field>
            <value>
                <elementReference>IncrementOCIConnectionFailAttempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledDatetime</field>
            <value>
                <elementReference>Offset_NOW_by_Failed_Attempts_plus_One_Hour</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummaryRoutingSchedule</object>
    </recordUpdates>
    <start>
        <locationX>94</locationX>
        <locationY>169</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ScheduleStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SCHEDULED</stringValue>
            </value>
        </filters>
        <object>OrderSummaryRoutingSchedule</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled</name>
            <connector>
                <targetReference>Order_Summary</targetReference>
            </connector>
            <label>Scheduled</label>
            <maxBatchSize>50</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ScheduledDatetime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CurrentDistanceCalculationOutput</name>
        <apexClass>ConnectApi__DistanceCalculationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOCIInteractionOrderSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentationCollection</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsGroupUsingOCIInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsInput</name>
        <apexClass>BuilderRepresentationOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsOutput</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIInputRepresentation</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsUsingOCIInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIItemInputRepresentationCollection</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsUsingOCIItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsUsingOCIOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FindRoutesWithFewestSplitsWithInventoryOutputRepresentationCollection</name>
        <apexClass>ConnectApi__FindRoutesWithFewestSplitsWithInventoryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentLocationsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InteractionOrdersData</name>
        <apexClass>RoutingActionOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventoryAvailabilityOutputCollection</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Items_to_Route</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>ItemsCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LocationCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LocationGroupIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationsToFulfillCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCIGetInventoryAvailabilityInputRepresentation</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCIGetInventoryAvailabilityOutputRepresentation</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCIInteractionOrderCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OCIInteractionOrderItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderItemSummaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>OCIInteractionOrderSummaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>OrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>OutputRoutesCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Process_Exception_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RankAverageDistanceInput</name>
        <apexClass>BuilderRankAverageDistanceOutput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RankAverageDistanceOutputRepresentation</name>
        <apexClass>ConnectApi__RankAverageDistanceOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RankDistanceOutputCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RouteItemList</name>
        <apexClass>RoutingItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RouteLocationList</name>
        <apexClass>RoutingGroup</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetLocationsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ValidOutputResultsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
