force-app/main/default/flows/Schedule_Fulfillment_Order_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Interaction_Order_Input</name>
        <label>Interaction Order Input</label>
        <locationX>933</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.ConnectionFailAttempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.FulfillmentOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.OrderDeliveryGroupSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.OrderSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FulfillmentOrder.OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetScheduleTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REQUESTED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRANSFER_ROUTING</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input</name>
        <label>Interaction Order Item Input</label>
        <locationX>720</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Order_Items_Loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.OrderItemSummary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.FulfillmentOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Order_Items_Loop.FulfillmentOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.ToLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FulfillmentOrder.FulfilledFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummary.FromLocationGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Interaction_Order_Item_Input_List</name>
        <label>Interaction Order Item Input List</label>
        <locationX>838</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderItemSummaryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InteractionOrderItemSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Delivery_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Delivery_Group</name>
        <label>Order Delivery Group ID</label>
        <locationX>838</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>OrderDeliveryGroupSummaryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Item.OrderDeliveryGroupSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Create_Transfer</name>
        <label>Set Create Transfer</label>
        <locationX>1236</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>InteractionOrderSummaryInput.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CREATE_RESERVATION</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Interaction_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Reship</name>
        <label>Is Reship?</label>
        <locationX>1055</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Interaction_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsReshipYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FulfillmentOrder.IsReship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Create_Transfer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Type</name>
        <label>Item Type?</label>
        <locationX>587</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery Charge</defaultConnectorLabel>
        <rules>
            <name>Item_Type_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fulfillment_Order_Items_Loop.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Item</targetReference>
            </connector>
            <label>Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Routing_Determination</name>
        <label>Needs Routing Determination?</label>
        <locationX>395</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Routing_Determination_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allocated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fulfillment_Order.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO_ROUTING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OldStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Order_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetScheduleTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Schedule Fulfillment Order Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Fulfillment Order Transfer</label>
    <loops>
        <name>Fulfillment_Order_Items_Loop</name>
        <label>Fulfillment Order Items</label>
        <locationX>713</locationX>
        <locationY>238</locationY>
        <collectionReference>Fulfillment_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Item_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Interaction_Order_Input</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Interaction_Order_Item_Inputs</name>
        <label>Interaction Order Item Inputs</label>
        <locationX>1532</locationX>
        <locationY>232</locationY>
        <collectionReference>InteractionOrderItemSummaryCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interaction_Order_Item</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Interaction_Order</name>
        <label>Interaction Order</label>
        <locationX>1388</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Interaction_Order_Item_Inputs</targetReference>
        </connector>
        <inputAssignments>
            <field>ConnectionFailAttempts__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.ConnectionFailAttempts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrder__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.FulfillmentOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderDeliveryGroupSummary__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.OrderDeliveryGroupSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummary__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.OrderSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Interaction_Order_Item</name>
        <label>Interaction Order Item</label>
        <locationX>1534</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Interaction_Order_Item_Inputs</targetReference>
        </connector>
        <inputAssignments>
            <field>FromLocationGroup__c</field>
            <value>
                <elementReference>Interaction_Order_Item_Inputs.FromLocationGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCIInteractionOrderSummary__c</field>
            <value>
                <elementReference>Interaction_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemSummary__c</field>
            <value>
                <elementReference>Interaction_Order_Item_Inputs.OrderItemSummary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Interaction_Order_Item_Inputs.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToLocation__c</field>
            <value>
                <elementReference>Interaction_Order_Item_Inputs.ToLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>InteractionOrderSummaryInput.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>OCIInteractionOrderItemSummary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order</name>
        <label>Fulfillment Order</label>
        <locationX>245</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Needs_Routing_Determination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fulfillment_Order_Items</name>
        <label>Fulfillment Order Items</label>
        <locationX>551</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fulfillment_Order_Items_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FulfillmentOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Item</name>
        <label>Order Item</label>
        <locationX>597</locationX>
        <locationY>631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interaction_Order_Item_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fulfillment_Order_Items_Loop.OrderItemSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>119</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fulfillment_Order</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>FOStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>InteractionOrderItemSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__ChangeEvent</objectType>
    </variables>
    <variables>
        <name>InteractionOrderItemSummaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderItemSummary__ChangeEvent</objectType>
    </variables>
    <variables>
        <name>InteractionOrderSummaryInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OCIInteractionOrderSummary__c</objectType>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
