force-app/main/default/flows/Set_Custom_Opportunity_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Generate_New_Opportunity_Name</name>
        <label>Generate New Opportunity Name</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Product_Interest__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunityName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_New_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_New_Name</name>
        <label>Set Opportunity New Name</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>New_Opportunity_ID.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_With_New_Name</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Set Custom Opportunity Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Custom Opportunity Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>New_Opportunity_ID</name>
        <label>New Opportunity ID</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_New_Opportunity_Name</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_With_New_Name</name>
        <label>Update Opportunity With New Name</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputReference>New_Opportunity_ID</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Opportunity_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
